<header>
    <nav class="bg-blue-600 text-white py-4">
        <ul class="flex space-x-4">
            <li><a href="/store" class="btn">Shop</a></li>
            <li><a href="/store" class="btn">View Shop</a></li>
            <li><a href="/products" class="btn">Manage Products</a></li>
            <li><a href="/variants" class="btn">Manage Variants</a></li>
            <li><a href="/images" class="btn">Manage Images</a></li>
        </ul>
    </nav>
</header>
