{% extends 'layouts/base.twig' %}

{% block main_content %}
    <main class="container">
        <div class="container">
            <div id="products-container" class="row">
                {% for product in products %}
                    <div class="product-item">
                        <div class="product-content">
                            <h3 class="title"><a href="/store/products/{{ product.slug }}">{{ product.title }}</a></h3>
                            <div class="price">
                                ${{ product.price }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
